<div class="flex flex-col gap-y-2 bg-white rounded-xl overflow-hidden pb-2 w-full sm:w-[260px] md:w-[280px] lg:w-[320px] transition hover:shadow-lg hover:-translate-y-1 cursor-pointer"
     (click)="getDetail(product)">
  <div class="relative">
    <img [ngSrc]="product?.src" alt="peony" class="w-full aspect-[3/4] object-cover" height="256" width="192">
    <div class="absolute top-2 right-2">
      <button (click)="isFavorite = !isFavorite" class="p-2 rounded-full transition">
        <icon name="heart" size="sm" [active]="isFavorite" />
      </button>
    </div>
  </div>

  <div class="py-2 flex flex-col gap-y-3 px-3">
    <div class="flex justify-between items-center text-sm text-gray-500">
      <span *ngIf="product?.status" class="border border-green-600 text-green-600 px-1 rounded-md bg-green-100">В наличии</span>
      <span *ngIf="!product?.status" class="border border-red-600 text-red-600 px-1 rounded-md bg-red-100">Нет наличии</span>

      <div class="flex items-center">
        <icon name="star" size="xsm"></icon>
        <span class="font-medium text-black">{{ product?.rating }}</span>
      </div>
    </div>

    <div class="flex flex-col">
      <div class="flex flex-col gap-y-0 m-0">
        <p class="font-semibold text-base sm:text-lg leading-tight">{{ product?.name }}</p>
        <p class="text-xs sm:text-sm text-gray-500">{{ product?.market }}</p>
      </div>

      <p class="text-primary text-lg sm:text-xl font-semibold mt-1"> {{ product?.price | spaceNumber }} сум </p>
    </div>
  </div>

  <button class="border border-primary rounded text-white bg-primary w-full sm:w-1/2 mx-auto py-2 text-sm sm:text-base active:scale-95 transition">
    В корзину
  </button>
</div>
