<div class="bg-background p-8 flex flex-col gap-y-12">
  <div>
    <p class="text-primary font-bold text-xl">Фильтры</p>
    <p class="font-thin">Настройте свой выбор</p>
  </div>

  <div class="flex flex-col gap-y-4">
    <div class="flex justify-start items-center gap-x-1">
      <icon name="store" size="sm" color="grey"></icon>
      <span class="font-bold text-grey">МАГАЗИН</span>
    </div>

    <div class="flex flex-col gap-y-2">
      <div>
        <span
          (click)="selectAll()"
          class="px-3 py-1 rounded-lg cursor-pointer transition"
          [ngClass]="allSelected
            ? 'bg-accent text-black'
            : 'bg-greybackground text-grey hover:bg-gray-200'"
        >
          Все магазины
        </span>
      </div>

      <div class="flex flex-wrap gap-2 items-center">
        <ng-container *ngFor="let market of data.markets">
        <span
          (click)="toggleMarket(market.id)"
          class="px-3 py-1 rounded-lg cursor-pointer whitespace-nowrap transition"
          [ngClass]="selectedMarkets.includes(market.id)
            ? 'bg-accent text-black'
            : 'bg-greybackground text-grey hover:bg-gray-200'"
        >
          {{ market.name }}
        </span>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-y-4">
    <div class="flex justify-start items-center gap-x-1">
      <icon name="circle-dollar-sign" size="sm" color="grey"></icon>
      <span class="font-bold text-grey">ЦЕНА</span>
    </div>

    <div>
      <div class="flex flex-col gap-2 w-full">
        <p-slider
          [(ngModel)]="priceRange"
          [range]="true"
          [min]="100"
          [max]="1000000"
          class="w-full custom-slider">
        </p-slider>

        <div class="flex justify-between text-sm text-gray-600">
          <span>{{ priceRange[0] | spaceNumber }} сум</span>
          <span>{{ priceRange[1] | spaceNumber }} сум</span>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-y-4">
    <div class="flex justify-start items-center gap-x-1">
      <icon name="flower" size="sm" color="grey"></icon>
      <span class="font-bold text-grey">ТИП ЦВЕТОВ</span>
    </div>

    <div class="flex flex-col gap-y-2">
      <div>
      </div>

      <div class="flex flex-wrap gap-2 items-center">
        <ng-container *ngFor="let type of data.types">
        <span
          (click)="toggleFlower(type.id)"
          class="px-3 py-1 rounded-lg cursor-pointer whitespace-nowrap transition"
          [ngClass]="selectedTypes.includes(type.id)
            ? 'bg-accent text-black'
            : 'bg-greybackground text-grey hover:bg-gray-200'"
        >
          {{ type.name }}
        </span>
        </ng-container>
      </div>
    </div>
  </div>

  <button class="hidden md:block bg-primary text-white rounded px-3 py-2 hover:opacity-90 transition">
    ПРИМЕНИТЬ
  </button>
</div>
